<!-- person, color, noun, adjective -->

<!DOCTYPE html>
<html>
    <head>
        <title>time for a game</title>
    </head>
<body>

    <form action="/madlib">

        <label>Please enter a person's name:</label>
        <input type="text" name="person">

        <label>Please enter color:</label>
        <input type="text" name="color" >

        <label>Please enter a noun:</label>
        <input type="text" name="noun">

        <label>Please enter an adjective:</label>
        <input type="text" name="adjective">

    </form>


</body>
</html>