<!-- person, color, noun, adjective -->

<!DOCTYPE html>
<html>
    <head>
        <title>time for a game</title>
    </head>
<body>

    <form action="/madlib">
        <div>
        <label>Please enter a person's name:</label>
        <input type="text" name="person">
        </div>
        <div>
        <label>Please enter color:</label>
        <input type="text" name="color" >
        </div>
        <div>
        <label>Please enter a noun:</label>
        <input type="text" name="noun">
        </div>
        <div>
        <label>Please enter an adjective:</label>
        <input type="text" name="adjective">
        </div>

        <input type="submit" value="Submit">

    </form>


</body>
</html>